<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.wolfcode.wms.mapper.BrandMapper">
    <resultMap id="BaseResultMap" type="cn.wolfcode.wms.domain.Brand">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="sn" property="sn"/>
    </resultMap>
    <delete id="deleteByPrimaryKey">
        DELETE FROM `brand`
        WHERE id = #{id}
    </delete>
    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO `brand` (name, sn)
        VALUES (#{name}, #{sn})
    </insert>
    <update id="updateByPrimaryKey">
        UPDATE `brand`
        SET name = #{name},
            sn   = #{sn}
        WHERE id = #{id}
    </update>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap">
        SELECT
            id,
            name,
            sn
        FROM `brand`
        WHERE id = #{id}
    </select>
    <select id="selectAll" resultMap="BaseResultMap">
        SELECT
            id,
            name,
            sn
        FROM `brand`
    </select>
    <select id="queryForCount" resultType="java.lang.Integer">
        SELECT count(*)
        FROM brand
    </select>
    <select id="queryForList" resultMap="BaseResultMap">
        SELECT
        id,
        name,
        sn
        FROM `brand`
        LIMIT #{start},#{pageSize}
    </select>
</mapper>