<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.wolfcode.wms.mapper.ClientMapper">
    <resultMap id="BaseResultMap" type="cn.wolfcode.wms.domain.Client">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="sn" property="sn"/>
        <result column="phone" property="phone"/>
    </resultMap>
    <delete id="deleteByPrimaryKey">
        DELETE FROM `client`
        WHERE id = #{id}
    </delete>
    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO `client` (name, sn, phone)
        VALUES (#{name}, #{sn}, #{phone})
    </insert>
    <update id="updateByPrimaryKey">
        UPDATE `client`
        SET name  = #{name},
            sn    = #{sn},
            phone = #{phone}
        WHERE id = #{id}
    </update>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap">
        SELECT
            id,
            name,
            sn,
            phone
        FROM `client`
        WHERE id = #{id}
    </select>
    <select id="selectAll" resultMap="BaseResultMap">
        SELECT
            id,
            name,
            sn,
            phone
        FROM `client`
    </select>
    <select id="queryForCount" resultType="java.lang.Integer">
        SELECT count(*)
        FROM client
    </select>
    <select id="queryForList" resultMap="BaseResultMap">
        SELECT
            id,
            name,
            sn,
            phone
        FROM `client`
        LIMIT #{start}, #{pageSize}
    </select>
</mapper>